<!DOCTYPE html>
<html><head>
        <link rel="icon" href="..\..\..\..\..\Program Files (x86)\bootstrap-3.3.5-dist\icone-uberlandia-mototaxi.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="2.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="uberlandia-mototaxi.html" id="logo"><img height="20" alt="Brand" src="logo.jpg" class="img-thumbnail"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="empresa">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Empresa&nbsp;<i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="uberlandia-mototaxi-cadastro-empresa.html">Cadastre-se</a>
                </li>
                <li>
                  <a href="uberlandia-mototaxi-">Login</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Separated link</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">One more separated link</a>
                </li>
              </ul>
            </li><li>
                            <a>Contate-nos</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cliente&nbsp;<i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="uberlandia-mototaxi-cadastro.html">Cadastre-se</a>
                                </li>
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Valor da corrida</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Dados pessoais</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div></div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Cadastro do Cliente</h1>
                        <p>Seja bem-vindo! Por gentileza, preencha os dados solicitados para que
                            seu cadastro seja efetivado.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail1">Nome:</label>
                                <input class="form-control" id="exampleInputEmail1" placeholder="Entre com seu nome completo, por favor" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputPassword1">CPF:</label>
                                <input class="form-control" id="exampleInputPassword1" placeholder="Digite seu CPF" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputPassword1">Telefone:</label>
                                <input class="form-control" id="exampleInputPassword1" placeholder="Digite seu telefone" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputPassword1">E-mail:</label>
                                <input class="form-control" id="exampleInputPassword1" placeholder="Digite seu e-mail " type="email">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exampleInputPassword1">Senha:</label>
                                <input class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha" type="password">
                            </div>
                            <button type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="Cadastro realizado com sucesso!">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="active">
                                <a href="uberlandia-mototaxi.html">Home</a>
                            </li>
                            <li>
                                <a href="#">Library</a>
                            </li>
                            <li class="active">Data</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="text-warning">udiamototaxi@gmail.com</h3>
                        <p class="text-muted">Corpyright © 2015 Uberlância Mototáxi. Todos os direitos reservados.</p>
                    </div>
                    <div class="col-sm-6" color="black">
                        <p class="text-muted text-right"></p>
                        <h2 class="text-muted">Formas de pagamento aceitas:</h2>
                        <p></p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-left">
                                <a href="#"><i class="fa fa-3x fa-fw text-muted fa-cc-visa"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw text-muted fa-cc-mastercard"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw hub text-muted fa-credit-card"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw text-muted fa-money"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    

</body></html>